<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="waiter.css">

    <style>
        .warning {
            background-color:#ADFF2F;
            font-weight: bold;
        }
    </style>
</head>

<body>

    <div class="center" style="padding-bottom: 2em;">
        <div class="data">

            <form action="/logins" method="POST">
                <h4>Enter Name Below: </h4><input type="string" onfocus="this.value=''" name="user" value=""
                    placeholder="Enter A Name" style="width: 13em;height:2em;text-align: center;">
                <div style="padding-top: 1em;">
                    <button class="button-primary AddBtn" on type="submit" name="button2" id="button2">Log In</button>
                </div>

            </form>

            <form action="/waiters" method="POST">
                <div style="padding: 1em;">
                    <h3>Hi {{userz}}</h3>
                    <div class="error" style="padding: 1em;">
                        {{messages.error}}
                    </div>

                    <label>Monday <input type="checkbox" name="days" value="Monday" id=""></label>
                    <label>Tuesday <input type="checkbox" name="days" value="Tuesday" id=""></label>
                    <label>Wednesday <input type="checkbox" name="days" value="Wednesday" id=""></label>
                    <label>Thursday <input type="checkbox" name="days" value="Thursday" id=""></label>
                    <label>Friday <input type="checkbox" name="days" value="Friday" id=""></label>
                    <label>Saturday <input type="checkbox" name="days" value="Saturday" id=""></label>
                    <label>Sunday <input type="checkbox" name="days" value="Sunday" id=""></label>

                </div>
                <button class="button-primary AddBtn" on type="submit" name="button" id="button">Submit</button>
        </div>
        <div>
            <a href="/waiters/:username">
                <h3> Waiters Available</h3>
            </a>
        </div>


    </div>
    </div>
    </form>
    <div class="row" style="padding-left: 15em;">
        <div class="col-1 {{level}}" style="width:6em;height:3em;padding-top:2em;">
            <a href="/action">Monday: </a>
            <span class="leftCounter">{{mondays}}</span>
        </div>
        <div class="col-1 {{level2}}" style="width:6em;height:3em;padding-top:2em;">
            <a href="/action">Tuesday: </a>
            <span class="leftCounter">{{tuesdays}}</span>
        </div>
        <div class="col-1 {{level3}}" style="width:6em;height:3em;padding-top:2em;">
            <a href="/action">Wednesday: </a>
            <span class="leftCounter">{{wednesdays}}</span>
        </div>
        <div class="col-1 {{level4}}" style="width:6em;height:3em;padding-top:2em;">
            <a href="/action">Thursday: </a>
            <span class="leftCounter">{{thursdays}}</span>
        </div>
        <div class="col-1 {{level5}}" style="width:6em;height:3em;padding-top:2em;">
            <a href="/action">Friday: </a>
            <span class="leftCounter">{{fridays}}</span>
        </div>
        <div class="col-1 {{level6}}" style="width:6em;height:3em;padding-top:2em;">
            <a href="/action">Saturday: </a>
            <span class="leftCounter">{{saturdays}}</span>
        </div>
        <div class="col-1 {{level7}}" style="width:6em;height:3em;padding-top:2em;">
            <a href="/action">Sunday: </a>
            <span class="leftCounter">{{sundays}}</span>
        </div>

    </div>

    <div class="center">


    </div>
</body>

</html>